/**
 * @Author: yang
 * @Date: 2024-08-20 15:47:17
 * @LastEditors: yang
 * @LastEditTime: 2025-01-10 11:47:46
 * @Description: 
 */

/* 打字动画 */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink {
    from, to { border-right-color: transparent }
    50% { border-right-color: var(--text-color) }
}
@keyframes l39 {
    100% {
        transform: translateY(-100%)
    }
}
@keyframes curbl {
    0% {
        background: #ffffff;
    }
    49% {
        background: #ffffff;
    }
    60% {
        background: transparent;
    }
    99% {
        background: transparent;
    }
    100% {
        background: #ffffff;
    }
}
@keyframes trans {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-80%);
    }
    100% {
        transform: translateX(0%);
    }
}